.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
}

.logo {
    display: flex;
    align-items: center;
    margin: 20px;
}

.logo-icon {
    width: 50px;
    height: 50px;
    background-color: #3477e3;
    border-radius: 5px;
    margin-right: 5px;
}

.logo-icon .line1 {
    width: 30%;
    height: 1px;
    background-color: white;
    margin: 12px;
}

.logo-icon .line2 {
    width: 50%;
    height: 1px;
    background-color: white;
    margin: 12px;
}

.logo-icon .line3 {
    width: 25%;
    height: 1px;
    background-color: white;
    margin: 12px;
}

.logo-text {
    font-size: 24px;
    color: #3477e3;
    font-weight: bold;
    margin-left: auto;
}

.filters {
    display: flex;
    align-items: center;
    border: none;
    margin: 0;
    padding: 0;
}

.large-select {
    width: 200px;
    padding: 5px;/* 上下のパディングを狭くする */
    font-size: 16px;
    margin-right: 0px;
}

input[type="text"] {
    padding: 5px;/* 上下のパディングを狭くする */
    font-size: 16px;
    margin-left: 0px;/* フィルター間のスペース */
}