.form-container {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    position: relative;
}

.form-container h2 {
    background-color: #3477e3;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    /* ボタンを右寄せにする */
}

button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2563eb;
}