.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.shop-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.shop-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
}

.shop-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.shop-info {
    padding: 15px;
    text-align: center;
}

.shop-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
}

.shop-info p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
}

.shop-info {
    text-align: left;
}

.details-button {
    text-align: left;
}

.shop-info button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.shop-info button:hover {
    background-color: #0056b3;
}

.details-button {
    text-align: left;
    margin-right: 10px;
}

.shop-info button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.shop-info button:hover {
    background-color: #0056B3;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.large-select {
    width: 200px; /* Adjust the width as needed */
    padding: 10px;
    font-size: 16px;
    margin-left: 10px; /* Add some space between selects */
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.like-btn, .unlike-btn {
    font-size: 24px;
    color: red;
}